// 全局变量 $开头

// 左侧菜单栏宽度
$base-menu-width: 260px;
$base-menu-min-width: 50px;
// 左侧菜单背景颜色
$base-menu-background: #001529;

// 顶部导航高度
$base-tabbar-height: 50px;

// 左侧菜单Logo高度设置
$base-menu-logo-height: 50px;
// 左侧菜单Logo字体大小设置
$base-menu-logo-title-fontSize: 20px;

